<%= render :partial => 'spree/admin/shared/configuration_menu' %>

<% content_for :page_title do %>
  <%= t(:store_credit_reason_index) %>
<% end %>

<% content_for :page_actions do %>
  <li>
    <%= button_link_to t(:new_store_credit), new_object_url, :icon => 'icon-plus', :id => 'admin_new_store_credit_reason_link' %>
  </li>
<% end %>

<table class="index">
  <thead>
    <tr>
      <th><%= t("name") %></th>
      <th><%= t("created_at") %></th>
      <th><%= t("updated_at") %></th>
    </tr>
  </thead>
  <tbody>
    <% @store_credit_reasons.each do |store_credit_reason|%>
      <tr id="<%= dom_id store_credit_reason %>">
        <td><%= store_credit_reason.name %></td>
        <td><%= store_credit_reason.created_at %></td>
        <td><%= store_credit_reason.updated_at %></td>
        <td class="actions">
          <%= link_to_edit store_credit_reason, :no_text => true %> &nbsp;
          <%= link_to_delete store_credit_reason, :no_text => true %>
        </td>
      </tr>
    <% end %>
    <% if @store_credit_reasons.empty? %>
      <tr><td colspan="4"><%= t(:none) %></td></tr>
    <% end %>
  </tbody>
</table>

<%= paginate @store_credit_reasons %>
